tqdm==4.61.2
requests==2.18.4
bcolz==1.2.1
beautifulsoup4==4.10.0
flair==0.10
gensim==4.1.2
h5py==3.6.0
hickle==4.0.4
imageio==2.14.1
keras==2.7.0
matplotlib==3.5.1
nltk==3.6.7
numpy==1.22.1
pandas==1.4.0
parsel==1.6.0
Pillow==9.0.0
pycocotools==2.0.4
pycorenlp==0.3.0
pyperclip==1.8.2
scikit_learn==1.0.2
scipy==1.7.3
seaborn==0.11.2
skimage==0.0
statsmodels==0.13.1
tensorboardX==2.4.1
tensorflow==2.7.0
textblob==0.17.1
torch==1.10.2
torchtext==0.11.2
torchvision==0.11.3
